.apinavbar{
    margin: 30px;
    margin-top: -160px;
}

.apibox{
    display:flex ;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height:620px;
    background: white;
    margin-bottom: -143px;
    border-radius: 50px;
}

.inputboxapi{
    padding: 10px;
    display: flex;
    margin: 10px;
    margin-right: 700px;
    align-items: center;
}

.apioutput{
    position: absolute;
    height: 500px;
    width: 635px;
    margin-left: 300px;
    margin-top: -395px;
    display: flex;
    justify-content: center;
    border: .5px solid rgb(211, 209, 209);

    align-items: start;
    gap: 20px;
    overflow: auto;
    max-width: 100%;
}

#createbtn{
    
    padding-right:72px ;
    padding-left: 72px;
    cursor: pointer;
    background: #4fda82;
    border: 0px solid grey;
    border-radius: 3px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif  
}

#servicebtn{
    color: white;
    margin-top: 42.5px;
    padding-right:55px ;
    padding-left: 55px;
    margin-bottom: -70px;
    cursor: pointer;
    background: #4fda82;
    border-radius: 3px;
    border: 0px solid grey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.apiheading{
    margin-top: -75px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}