body {
    overflow: hidden;
    background: #5dc483;
}

.loginpage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: white;
    border-radius: 50px;
}

.loginbox {  
    height: 400px;
    width: 600px;
}

.signupbtn {
    color: #4fda82;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.signupbtnbox {
    margin-left: 77px;
}

.username {
    margin-left: 65px;
    padding: 10px;
    padding-right: 50px;
    border-radius: 3px;
    border: .5px solid grey;
    margin-bottom: 20px;
}

.password {
    margin-left: 65px;
    padding: 10px;
    padding-right: 50px;
    border-radius: 3px;
    border: .5px solid grey;
    margin-bottom: 20px;
}

.see-password {
    margin-top: 5px;
    margin-left: -50px; /* Adjust margin as needed */
    padding: 5px; /* Adjust padding as needed */
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    border: 1px solid white;
}

.loginbtn {
    margin-left: 65px;
    padding: 10px;
    padding-left: 92.5px;
    padding-right: 92.5px;
    margin-bottom: 60px;
    border-radius: 3px;
    border: 0px solid grey;
    color: white;
    background: #4fda82;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo {
    padding: 0px;
    padding-left: 10px;
    margin-left: 75px;
    margin-right: 320px;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

img{
    height: 280px;
    width:  280px;
    position: absolute;
    margin-left: 305px;
    margin-top: 60px;

}
