.nav{
    background: white;
    border-radius: 20px;
    padding-top: 20px;
}


.user{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: -75px;
    margin-right: 40px;
    margin-bottom: 10px;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logout{
    display: flex;
    justify-content: right;
    align-items: center;
    
}

.logoutbtn{
    padding: 5px;
    padding-left: 35px;
    padding-right:35px;
    margin-right: 33px;
    margin-bottom: 12px;
    background: #4fda82;
    border: 0px solid grey;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    margin-top: -15px;
}

.nameparentdiv{
    display: flex;
    justify-content: left;
    align-items: center;
}
